styles.css

/* -------------------------------- base styles -------------------------- */

* {
  box-sizing: border-box;
}

html {
  color: #9c9ca2;
  font-size: 1em;
}

h1 {
  margin: 0 auto;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
}

body{
  width:100%;
}

form {
  width:100%;
  margin:0 auto;
}

fieldset {
  border:none;
}

label {
  width: 100%;
  margin:10px 0;
}

input, select {
  width:100%;
  color:#1b1a1a;
  }

option[value="state"]{
  color:#d4d2d2;
}

.bdr-design {
  border-radius: 5px;
  height:35px;
  background: #d4d2d2; 
}

::placeholder{
  font-style:italic;
  text-align:right;
  font-size:small;
  color:#413e3e;
}


/* ------------------Fieldset Container styles ------------------------- */
.title-header {
  background-color: #52bab3;
  color: white;
  margin-top: auto;
  padding: 20px 10px;
  text-align:center;
  }

.header-container{
   display: inline;
   flex-wrap: wrap;
   width: 90%;
   justify-content: space-around;
   color: #050404;
  }

.intro-header { 
  text-align:center;
}

.intro {
  color: #9c9ca2;
  margin: 0 auto;
  text-align:center;
  margin-top: 10px;
  margin-bottom:10px;
  width:95%;
}

.flex-containertop{  
  display:flex;
  flex-wrap:wrap;
  width:100%;
 }

.contact-info {
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: larger;
  width:100%;
  margin:0 auto;
  padding-left:0px;
  color: #050404;
}

.bold-line {
  height: 2px;
  color: #0c0b0b;
  background-color: #050404;
  width:90%;
}

.thin-line{
  height: 1px;
  color:#0c0b0b;
  background-color:#050404;
  width: 90%;
}

.contact-input{
  display:flex;
  flex-direction: column;
  align-items: center;
  }

#zip-code {
  width: 50%;
}

.flex-containerbottom {  
  display:flex;
  flex-wrap:wrap;
  width:100%;
 }

.contact-infobottom {
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: larger;
  width:100%;
  margin:0 auto;
  padding-left:0px;
  color:#050404;
}

.news-intro {
color: #9c9ca2;
}

.news-checkbox {
  display: inline;
  width: 100%;
  margin-left: -10%;
  margin-top: 10px;
}

.newsletter-type {
  width:100%;
}

input[type="checkbox"]{
  width:25%
}

label[for="html"], 
label[for="css"],
label[for="javascript"]{
  width:75%;
  margin:0;
  padding:0;
}

input[type="checkbox"]:checked+label{
font-weight: bold;
}

input[type="radio"]:checked+label{
  font-weight:bold;
}

input[type="button"],
input[type="radio"] 
input[type="submit"] {
  cursor: pointer;
}

.radio-circle {
  width: 100%;
  margin-top:15px;
  margin-left: -20px;
}

input[type="radio"]{
  width:20%;
}

/*UI element states pseudo-classes*/

#topics {
  height:100px;
  width:95%;
  border-radius:5px;
  margin-top:10px;
}

.others{
width: 100%;
text-align:center;
}

.btn-default{
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  background: #2af6b1;
  width: 96%;
  height: 25%;
  border-radius: 5px;
  margin-top:10px;
}

.copyright{
  width: 100%;
  font-style: italic;
  margin-top: 15px;
  text-align: center;
  margin-bottom:20%;
}

input:focus,
select:focus,
textarea:focus {
  background-color: grey;
  border:solid blue;
}

/* -------------------------Media Query------------------------- */

@media (min-width: 768px) {

.header-container{
  width:65%;
  margin:0 auto;
}

.line-separation{
  width:64%;
  margin:0 auto;
}
.contact-info{
  margin-left:20%;
}

.flex-containertop{  
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  width:60%;
  margin:0 auto;
 }

label {
  width: 30%;
  margin-top: 5px;
}

input, select {
  width: 65%;
  margin-bottom: 15px;
}

#state{
  width:66.5%;
}

label[for="zip-code"] {
    width: 33.5%;
}

#zip-code {
    width: 33%;
    margin: 0 auto;
    margin-left: 0px;
}

.thin-line-bottom{
width:58%;
margin: 0 auto;
margin-top:15px;
}

.contact-infobottom {
  margin-left:20%;
  margin-top:15px;
  color:#050404;
}

.flex-containerbottom{
display:flex;
flex-wrap:wrap;
width:60%;
margin:0 auto;
}

.news-intro{
width:75%;
}

.news-checkbox {
  display: inline;
  width: 80%;
  margin-left: -40px;
  margin-top: 10px;
}

label[for="html"], 
label[for="css"],
label[for="javascript"]{
  width:75%;
  margin:0;
  padding:0;
  margin-left:-15px;
}

.newsletter-type{
  width:80%;
}

.radio-circle {
 width: 80%;
 margin-top: 15px;
 margin-left: -25px;
}
}





